.heading {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #988715;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.widget {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    flex: 1;
    background-color: #fff;
}

button {
    margin-top: 10px;
    height: 38px;
    width: 120px;
    text-decoration: none;
    background-color: #349ba4;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b3c3eb;
    border: 3px solid #639cd1;
    border-radius: 5px;
}

.delete-button {
    height: 26px;
    width: 40px;
    padding-top: 2px;
    padding-bottom: -5px;
    text-decoration: none;
    background-color: red;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover{
    height: 22px;
    width: 36px;
    background-color: rgba(219, 3, 3, 0.884);
    border: 2px solid #ca0505;
    border-radius: 6px;
}

h2 {
    font-size: 24px;
    color: #2ec460;
}

input[type="text"] {
    height: 30px;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.product-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.product-details {
    flex-grow: 1;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
}

.product-price {
    font-size: 16px;
    color: #007bff;
}

.product-description {
    font-size: 14px;
}
